<!--
  ~ Copyright 2019 the original author or authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:across="https://across.dev">
<head>
	<title>Bootstrap rendering demo page</title>
</head>
<body th:fragment="content">

<div class="row" th:each="generatedElement : ${generatedElements}">
	<div class="col-md-6">
		<h2 th:text="${generatedElement.key}">Title</h2>
		<across:view element="${generatedElement.value}"/>
	</div>
</div>

</body>
</html>